$content-width: 1200px;
$body: #FFF;
$font-style: 'Georgia', sans-serif;
$font-color: #1d2129;
$link-color: #236CF6;
$link-hover-color: #1d2129;
$heading-font: 'Lato', sans-serif;
$heading-font-color: #1d2129;
$light: #E7EDF4;
